<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Home page for Python/Flask demo web application showing full stack using html, css, python, and flask.">
  <title>App Home: Data to Knowledge</title>
  <link rel="stylesheet" href="/static/css/site_styles.css">
  <link rel="icon" href="../static/img/sf.ico">
</head>
<body>
<div>{% include('nav.html') %}</div>
<main>
  <h1>Data to Knowledge</h1>
  <div class="page_content">
    <article class="topic_intro">
      <hr>
  <h2>A Data Visualization Demonstration as an Application</h2>
  <p>This Python/Flask Web App uses MatPlotLib to generate charts and graphs.</p>
    </article>
  </div>
  <div class="body_content">
  <h2>Technology Stack: </h2>
  <ul>
    <li>Dependencies: Python, Flask, MatPlotLib..., and others pip</li>
    <li>Built with PyCharm using Educational License</li>
    <li>Visualization Templates: https://matplotlib.org/
    <li>Code Assistant: https://chatgpt.com</li>
    <li>Software License: MIT</li>
  </ul>
</div>
</main>
<div>{% include('footer.html') %}</div>
</body>
</html>