<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Success landing page for demo web application.">
  <title>Success: Python/Flask</title>
  <link rel="stylesheet" href="/static/css/site_styles.css">
  <link rel="icon" href="../static/img/sf.ico">
</head>
<body>
<div>{% include('nav.html') %}</div>
<main>
  <h1>Data Received</h1>
  <div class="page_content">

<article class="topic_intro">
    <hr><h2>Matrix Plot via Matplotlib</h2>
    <img src="../static/img/plot.png" alt="Matrix Plot"><br><br>
    </article>

<article class="topic_intro">
<hr><h2>Anatomy of Matplotlib Figure</h2>
<img src="../static/img/label_figure.png" alt="Figure Anatomy">
<p>Python file: figure_diagram.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Graph Groups via Matplotlib</h2>
<img src="../static/img/group_graphs.png" alt="Group Graphs">
<p>Python file: mpl_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Direct Line via Matplotlib</h2>
<img src="../static/img/line_direct.png" alt="Direct Line">
<p>Python file: mpl_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Multi Line via Matplotlib</h2>
<img src="../static/img/multi_line.png" alt="Multi Line">
<p>Python file: mpl_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Artist Draw via Matplotlib</h2>
<img src="../static/img/artist_draw_demo.png" alt="Artist Draw">
<p>Python file: artist_draw_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Pie Bar via Matplotlib</h2>
<img src="../static/img/bar_pie_demo.png" alt="Pie Bar">
<p>Python file: bar_pie_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Stacked Bar via Matplotlib</h2>
<img src="../static/img/bar_stacked_demo.png" alt="Stacked Bar ">
<p>Python file: bar_stacked_label_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Circle Wedge via Matplotlib</h2>
<img src="../static/img/circle_wedge_demo.png" alt="Circle Wedge ">
<p>Python file: circle_wedge_polygon_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Filled Markers via Matplotlib</h2>
<img src="../static/img/filled_marker_demo.png" alt="Filled Markers">
<p>Python file: filled_markers_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>via Matplotlib</h2>
<img src="../static/img/line_polyline_demo.png" alt="Line Polyline Demo">
<p>Python file: line_polyline_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Line Style via Matplotlib</h2>
<img src="../static/img/line_style_demo.png" alt="Line Style">
<p>Python file: line_style_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Scatter Marker via Matplotlib</h2>
<img src="../static/img/scatter_marker_demo.png" alt="Scatter Marker">
<p>Python file: scatter_marker_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Scatter Polar via Matplotlib</h2>
<img src="../static/img/scatter_polar_demo.png" alt="Scatter Polar">
<p>Python file: scatter_polar_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Shapes Simple via Matplotlib</h2>
<img src="../static/img/shapes_simple.png" alt="Shapes Simple">
<p>Python file: shapes_simple_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Stock Demo via Matplotlib</h2>
<img src="../static/img/stock_demo.png" alt="Stock Demo">
<p>Python file: stock_demo.py</p>
<br><br></article>

<article class="topic_intro">
<hr><h2>Text Box Style Demo via Matplotlib</h2>
<img src="../static/img/text_box_demo.png" alt="Text Box Style Demo">
<p>Python file: text_box_style_demo.py</p>
<br><br></article>


<article class="topic_intro">
<hr><h2>Unfilled Marker Demo via Matplotlib</h2>
<img src="../static/img/unfilled_marker_demo.png" alt="Unfilled Marker Demo ">
<p>Python file: unfilled_markers_demo.py</p>
<br><br></article>




  </div>
  <div class="body_content">
    <p>
    </p>
</div>
</main>
<div>{% include('footer.html') %}</div>
<script src="/static/js/data_buttons.js"></script>
</body>
</html>
